.header-left {
    width: 100%;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    left: 0;
    white-space: nowrap;
    background: #fff;
    border-bottom: 1px solid #eee;
}
.header-right{
    position: absolute;
    right: 10%;
}
.header-right span{
    margin-right: 25px;
    font-size: 14px;
}
.header-right button{
    border: 1px solid #999;
    height: 30px;
    border-radius: 14px;
    background-color: #fff;
}
.header-right span:hover{
    color: blue;
}
.header-left div {
    margin-left: 10px;
    display: block;
}
.header-right-button{
    position: absolute;
    right: 60px;
    z-index: 1;
    font-size: 16px;
    top: 34px;
}
.header-right-button button{
    height: 30px;
    margin-left: 10px;
    background-color: #fff;
}
.header-right-button button:hover{
    background-color: #f5f5f5;
}
.header-right-button-button-a{
    width: 75px;
    border: 1px solid #ccc;
    border-radius: 12px;
}
.header-right-button-button-b{
    border: 1px solid #ccc;
    border-radius: 15px;
    width: 30px;
    position: absolute;
    right: 20px;
    height: 30px;
    background-color: #fff;
}
.header-right-button-button-b:hover{
    background-color: #f5f5f5;
}
.header-input {
    width: 200px;
    height: 32px;
    padding: 0 38px 0 14px;
    background-color: #f0f1f3;
    font-size: 14px;
    transition: all .2s;
    border-radius: 16px;
    border: none;
    outline-color: blue;
    outline-width: 1px;
}

.icon-shurukuangsousuo {
    position: relative;
    left: -30px;
}