
.antdm-btn {
    border: 1px solid #1677ff;
    background-color: white;
    color: #1677ff;
    font-size: 16px;
    height: 41px;
    width: 130px;
    border-radius: 25px;
    margin-bottom: 20px;
}
.antdm-btn-primary-bg{
    background-color: #1677ff;
    color: white;
}
li{
    list-style: none;
    display: inline-block;
}
.antdm-btn li{
text-align: center;
}